* {

}

body, p {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.75rem;
    color: #483d3f;
}

.container-nested {
    width: 100%;
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    margin: 2rem 0;
    line-height: 2rem;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.bg-gradient {
    background: linear-gradient(to left, rgba(166, 0, 255, .9), rgba(0, 145, 255, .9)), url(Alternating-Arrowhead.svg);
}

header {
    width: 100%;
}

.font-bold {
    font-weight: bold;
}

.time {
    font-size: 80%;
}

.text-right {
    text-align: right;
}

.top-nav {
    margin:auto;
    display:block;
    max-width: 90%;
    min-height: 40px;
    color: white;
    text-align: center;
}

.logo {
    color: white;
}

.nav-logo {
    max-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.paragraph-lead {
    font-size: 30px;
    font-weight: 500;
    line-height: 3.55rem;
    background: -webkit-linear-gradient(0.50turn, #a600ff, #0091ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.paragraph-brief {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 500;
}

.wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
}



.spacer {
    width: 100px;
    height: 6px;
    margin: 2.5rem 0;
    background: #483d3f;
    display: block;
}

.bg-primary {
    background: #0091ff;
}

.bg-light {
    background: linear-gradient(to right, #fafafa, #f1f6ff), url(Alternating-Arrowhead.svg);
}

.bg-white {
    background: #ffffff;
}

.bg-medium {
    background: #483d3f55;
}

ul {
    padding-inline-start: 1.25rem;
}

.education-item .row .col-12 {
    margin: 0;
}

.education-item .row .education-title {
    margin-top: 1rem;
}

.subtitle {
    display: block;
    font-size: 50%;
    color: #483d3fAA;
    font-weight: 700;
}

.heading-large {
    display:block;
    line-height: 105%;
    font-size: 200%;
}

.img-responsive {
    max-width: 100%;
    width: 100%;
}
.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: 1rem;
}.mt-2 {
    margin-top: 2rem;
}.mt-3 {
    margin-top: 3rem;
}.mt-4 {
    margin-top: 4rem;
}.mt-5 {
    margin-top: 5rem;
}

 .text-white {
     color: white;
 }


@media only screen and (min-width: 60em) { /* 960px */
    .top-nav {
        max-width: 75%;
        text-align: left;
    }
}

@media only screen and (max-width: 1024px) {  /* 540px */
    .mt-1,.mt-2,.mt-3,.mt-4,.mt-5 {
        margin-top: .10rem;
    }

    .time.text-right {
        text-align: left;
    }

    .img-profile {
        max-width: 50%;
        width: 50%;
        margin:auto;
        display: block;
    }

    .wrapper {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .paragraph-lead {
        font-size: 22px;
        font-weight: 500;
        line-height: 2rem;
        background: -webkit-linear-gradient(0.50turn, #a600ff, #0091ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .heading-large {
        line-height: 100%;
        font-size: 120%;
    }
}
